*{
    font-family: 標楷體;
    padding: 0;
    margin: 0;


}

/*開頭*/
header {
    background-color: #e0b1cb;
    background-size: cover; 
    background-position: center; 
    height: 300px;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 0 20px;
    text-align: center;

}

.me {
    display: flex;
    align-items: center;
}

.me img {
    width: 250px; 
    height: auto; 
    margin-right: 20px;
    border-radius: 50%;
    border: 5px solid #9f86c0;
}


.logo img {
    width: 100px;
    height: auto;
}

.choice {
    display: flex;
    flex-direction: column;
}
.choice h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.choice ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    font-family: 標楷體;
    color: #669bbc;
}

.choice li {
    margin-right: 20px; 
    font-family: 標楷體;
}

.choice li:last-child {
    margin-right: 0;
}

.choice li a {
    text-decoration: none;
    color: #669bbc;
    font-size: 35px; 
}
/*body*/
body{
    background-image: linear-gradient(to bottom,  #ffc6ff,#f49cbb);
}
/*part1*/
.part1 {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 

}

.part1 .inword {
    display: flex; 
    align-items : center; 
    margin-bottom: 20px;
    color:#1d3557;
}

.part1 .inword h1,
.part1 .inword h2 {
    margin: 0; 
}

.part1 .inword img {
    width: 350px;
    height: 450px;
    margin-right: 20px;
    border-radius: 20%;
    border: 5px solid #9f86c0;
}
.part1 .inword h1 {
    color:#1d3557;
    font-size: 40px;
    font-weight: bold;
}

.part1 .inword h2 {
    font-size: 35px; 
    color:#1d3557;
}
.part1 .inword h3 {
    font-size: 33px;
    color:#1d3557;
}
.part1 .inword h4 {
    font-size: 40px;
    color:#1d3557;
}
.part1 .inword .ulli {
    font-size: 35px;
}

.part1 .inword ul li {
    font-size: 35px;
}
.inword .ulli ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    justify-content: center; 
}

.inword .ulli ul li {
    margin-right: 20px; 
    display: flex;
    align-items: center;
    border: 2px dashed #ff006e; 
    padding: 5px; 
}
/*part2*/
@if $enable-transitions {
    @keyframes progress-bar-stripes {
      0% { background-position-x: $progress-height; }
    }
  }
  .part2 h1 {
    text-align: center;
    font-weight: bold;
  }
  
  .progress-list {
    margin-top: 20px;
  }
  
  .part2 {
    text-align: center;
  }
  
  .part2 .line {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 
  .progress {
    position: relative;
    width: 40%;
    height: 20px;
    margin-bottom: 20px;
  }
  .line h2{
    font-size: 20px;
  }
  
  .progress .progress-bar {
    width: 100%;
    height: 100%;
  }
  
/*part3*/
.part3 .lifes img {
    width: 350px;
    height: 450px;
}

.part3 .lifes h3 {
    text-align: center;
    font-size: 30px;
}

.part3 h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.part3 .lifes {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

}

.part3 .lifes .school,
.part3 .lifes .works {
    display: flex;
    align-items: center;
}

.part3 .lifes .club {
    display: flex;
    align-items: center;
    flex-direction: row-reverse; 
}

.part3 .lifes .school img,
.part3 .lifes .works img,
.part3 .lifes .club img {
    width: 350px;
    height: 450px;
    margin-right: 20px;
    border-radius: 15%;
    border: 5px solid #9f86c0;
}

.part3 .lifes .school .schw,
.part3 .lifes .works .workw,
.part3 .lifes .club .clubw {
    max-width: 350px; 
}

.part3 .lifes .school .schw h2,
.part3 .lifes .works .workw h2,
.part3 .lifes .club .clubw h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.part3 .lifes .school .schw h3,
.part3 .lifes .works .workw h3,
.part3 .lifes .club .clubw h3 {
    font-size: 30px;
    margin-bottom: 10px;
}


/*part4*/
.part4 {
    margin: 0 auto; 
    text-align: center;
    color:#1d3557;
    font-size: 35px;
}
.part4 img {
    width: 200px;
    height: 200px;
    border-radius: 30%; 
    margin-right: 20px;
    border: 5px solid #9f86c0;

}
.part4 h2{
    font-weight: bold;
    font-size: 40px;
}

